#Shop {
  display: flex;
  flex-direction: column;
  height: 90vh;
  align-items: center;
  overflow: auto;
  gap: 5px;
}

#item-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
}
